# Ambiente virtual
.venv/
venv/
ENV/
env/

# Variáveis de ambiente
.env

# Pastas de dados
enem_2023/

# Arquivos temporários do Jupyter
.ipynb_checkpoints/

# Arquivos de log e sistema
*.log
*.pyc
__pycache__/

# Dados sensíveis ou grandes
*.csv

# Docker
docker-compose.yml
docker-compose.yaml
docker-compose.override.yaml
*.db
# Adicione estas linhas para Docker:
Dockerfile*
docker-compose*.yml
docker-compose*.yaml
.dockerignore
# Volumes e dados do Docker
volumes/
data/
# Imagens e containers
*.tar
# Logs do Docker
docker-compose.log